body {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif; }

a {
  color: rgba(0, 0, 0, 0.7); }
  a:focus, a:hover {
    color: rgba(0, 0, 0, 0.6); }

.middleman-logo {
  margin-bottom: 1rem;
  width: 10rem; }

.carddemoBasicUsage .card-media {
  background-color: #999999; }

.md-sidenav-left {
  width: 250px;
  background-color: #1565C0; }

.nav-header img {
  width: 250px; }

md-sidenav md-content {
  background-color: #1565C0;
  color: white;
  font-size: 13px; }

md-sidenav md-content .head {
  font-size: 18pt;
  margin-top: 0px;
  margin-bottom: 0px; }

md-sidenav md-content .subhead {
  font-size: 13pt;
  margin-top: 0px;
  margin-bottom: 0px; }

md-card.education md-card-header {
  background-color: #1565C0;
  color: white; }

md-card.experience md-card-header {
  background-color: #1565C0;
  color: white; }

md-card.training md-card-header {
  background-color: #1565C0;
  color: white; }
